/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Elements */

hr{
    border-style: solid;
    color: #f6f8f9;
}

header{
    background-color: white;
}

main{
    background-color: #f6f8f9;
}


/* Common */

.main-container{
    margin-top: 30px;
    width: 75%;
    margin: auto;
    background-color: white;
    border-radius: 5px;
}

/* Header */

.logo-img{
    margin: 10px 5px 10px 15px;
    vertical-align: middle;
}

.logo-text{
    display: inline-block;
    font-family: sans-serif;
    vertical-align: middle;
    font-weight: 800;
}



/* Main */

/* Button */

.button-div{    
    margin: 5px 30px;
}

.buttons{
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
}

.button-active{
    background-color: #47adf1;
    color: white;
    border-color: #47adf1;
}

.button-inactive{
    background-color: white;
    color: #d9dde0;
    border-color: #d9dde0;
}
