/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Elements */

hr{
    border-style: solid;
    color: #f6f8f9;
}

header{
    background-color: white;
}

body{
    background-color: #f6f8f9;
}

main{
    background-color: #f6f8f9;
    padding: 30px;
}

ul{
    list-style-type: none;
    font-weight: 800;
    font-size: 25px;
}

/* Common */

.main-container{  
    width: 75%;
    margin: auto;
    
    background-color: white;
    border-radius: 5px;
}

/* Header */

.logo-img{
    margin: 10px 5px 10px 15px;
    vertical-align: middle;
}

.logo-text{
    display: inline-block;
    vertical-align: middle;
    font-weight: 800;
}



/* Main */

/* Button */

.button-div{    
    margin: 5px 30px;
}

.buttons{
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
}

.button-active{
    background-color: #47adf1;
    color: white;
    border-color: #47adf1;
}

.button-inactive{
    background-color: white;
    color: #d9dde0;
    border-color: #d9dde0;
}

/* Tasks */

.task-container{
    margin: 50px;
    /* background-color: red; */
}

.task{
    padding: 15px;
}

.checked{
    color:#87cfbe;
    border: 1px solid #87cfbe;
    border-radius: 50%;
}
.unchecked{
    color:red;
    border: 1px solid red;
    border-radius: 50%;    
}

.task-text{
    font-weight: 500;
}

/* Task categories */

.task-category{
    
}

/* Default Category */
.task-tag{
    color: white;
    font-size: 15px;
    padding: 12px;
    border-radius: 15px;
    background-color: gray;
}

/* Other task categories */
.task-editorial{
    background-color: #45abea;
}

.task-q1-goals{
    background-color: #9c72e4;
}

.task-recruiting{
    background-color: #64c0a9;
}

.task-mobile{
    background-color: #f29e33;
}

.task-website{
    background-color: #d863a1;
}

.task-sales{
    background-color: #b0c926;
}
